
body {
  font-family:sans-serif;
  
  font-size: 14px;
}

button {
  margin-right: 0.5%;
  margin-left: 0.5%;
  vertical-align: top;
  background-color:#dcdcdc;
  border: 1px solid;
  border-radius: 10px;
  border-color:rgba(89, 89, 89, 0.53);
  font-family: Calibri;
  font-size: 125%;
  color: #3F3F3F;
  box-shadow: 0px -1px 5px inset, 0px 1px 5px white inset;
  outline: none;
  cursor: pointer;
}

button.number{
   background-color:#F0F0F1;
}

button.equal{
  background-image:-webkit-linear-gradient(top,#4d90fe,#357ae8);
  background-color: #4d90fe;
}

button:hover{
background-color: #BBB;
  box-shadow: 0px 1px 5px inset;
  color: white;
}

button:active {
  background-color: #BBB;
  box-shadow: 0px 1px 5px inset;
}

.row {
  height: 50px;
  margin-left: 5%;
  width: 95%;
}

.calculator {
  width: 320px;
  padding-top: 5px;
  background: -webkit-linear-gradient(#FFFFFF, #CECED0);
  background: -o-linear-gradient(#FFFFFF, #CECED0);
  background: -moz-linear-gradient(#FFFFFF, #CECED0);
  background: linear-gradient(#FFFFFF, #CECED0);
  margin: auto;
  margin-top: 5%;
  border:1px solid #8C8987;
  border-radius:10px;
  
}

.display {
  margin: 2% 5% 4% 5%;
  height: 70px;
  padding: 0px 10%;
  background-color: #effbca;
  border: 2px solid;
  border-radius: 10px;
  border-color: #AEB593;
  font-family: Calibri;
  text-align: right;
  font-size: 160%;
  box-shadow: 0px -1px 8px #222222;
}

.displayoperator {
  width: 60%;
  font-size: 70%;
  margin: auto;
  vertical-align: text-bottom;
}

.width1 {
  width: 22%;
}

.width2 {
  width: 46%;
}

.height1 {
  height: 40px;
}

.height2 {
  height: 90px;
  padding-top:50px;
}